.sideBar {
  flex: 1;
  /* background-color: darkblue; */
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
}
.sideBarWrapper {
  padding: 20px;
  color: #555;
}
.sideBarMenu {
  margin-bottom: 10px;
}
.sideBarTitle {
  font-size: 13px;
  color: rgb(56, 55, 55);
}
.sideBarList {
  list-style: none;
  padding: 5px;
}
.sideBarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.sideBarListItem.active,
.sideBarListItem:hover {
  background-color: rgb(224, 237, 241);
}
